<nav class="navbar navbar-expand-sm bg-primary navbar-primary">
  <a class="navbar-brand text-white" href="#">Вконтакте</a>
  <form class="form-inline" action="/action_page.php">
    <div class="input-group badge-pill">
      <div class="input-group-prepend">
        <span class="input-group-text">@</span>
      </div>
      <input type="text" class="form-control" placeholder="Пошук">
    </div> 
  </form>
</nav>
<div>
